<div class="right">
    <div class="col-md-10">
        <div class="content">
            <div class="col-md-4 thongbao codm"><a href="./xem_danh_muc">
                <h4 class="text-right" style="color: #fff">Tổng số danh mục</h4>
                <h4 class="text-right" style="color: #fff">{{TongDanhMuc}}</h4>
                <p class="text-left"><i class="fa fa-table fa-4x" style="color: #fbdb94" aria-hidden="true"></i></p>
            </a></div>
            <div class="col-md-4 thongbao cobv"><a href="./xem_bai_viet">
                <h4 class="text-right" style="color: #fff">Tổng số bài viết</h4>
                <h4 class="text-right" style="color: #fff">{{TongBaiViet}}</h4>
                <p class="text-left"><i class="fa fa-newspaper-o fa-4x" style="color: #b1ca89" aria-hidden="true"></i>
                </p>
           </a> </div>
            <div class="col-md-4 thongbao cotv">
                <h4 class="text-right" style="color: #fff">Tổng số thành viên</h4>
                <h4 class="text-right" style="color: #fff">{{TongThanhVien}}</h4>
                <p class="text-left"><i class="fa fa-user fa-4x" style="color: #aedce9" aria-hidden="true"></i></p>
            </div>
        </div>
        <!--end .content-->
    </div>
</div>