  <div class="right">
            <div class="col-md-10">
                <div class="content">
                    <div class="col-md-4 add-dm">
                        <h4 class="text-center">Bài cần duyệt</h4>
                    </div>
                    <div class="clearfix"></div>
                    <form method="post">
                        <div class="form">
                            <table class="table">
                                <tr>
                                    <td>
                                        <P>Danh mục</p>
                                    </td>
                                    <td>
                                        <P>Tên bài viết</p>
                                    </td>
                                    <td>
                                        <P>Phóng viên</p>
                                    </td>
                                    <td>
                                        <p>Biên tập viên</p>
                                    </td>
                                    <td>
                                        <p>Hành động</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <P>Giải trí</p>
                                    </td>
                                    <td>Khắc Việt đạo nhạc</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td><a href="#">Đã từ chối</a>
                                        </td>
                                </tr>
                                <tr>
                                    <td>
                                        <P>Giải trí</p>
                                    </td>
                                    <td>Khắc Việt đạo nhạc</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td><a href="#">Đã duyệt</a>
                                        </td>
                                </tr>
                                <tr>
                                    <td>
                                        <P>Giải trí</p>
                                    </td>
                                    <td>Khắc Việt đạo nhạc</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td><a href="#">Đã duyệt</a>
                                       </td>
                                </tr>
                                <tr>
                                    <td>
                                        <P>Giải trí</p>
                                    </td>
                                    <td>Khắc Việt đạo nhạc</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td>Nguyễn Mỹ Linh</td>
                                    <td><a href="#">Đã từ chối</a></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <!--end .content-->
            </div>
        </div>