<div class="right">
			<div class="col-md-10">
				<div class="content">
					
					<div class="col-md-4 thongbao cobv">
						<h4 class="text-right" style="color: #fff">Tổng số bài đã duyệt</h4>
						<h4 class="text-right" style="color: #fff">{{dsdaduyet}}</h4>
						<p class="text-left"><i class="fa fa-newspaper-o fa-4x" style="color: #fbdb94" aria-hidden="true"></i></p>
					</div>
                    <div class="col-md-4 thongbao cobv">
						<h4 class="text-right" style="color: #fff">Tổng số bài chưa duyệt</h4>
						<h4 class="text-right" style="color: #fff">{{dschuaduyet}}</h4>
						<p class="text-left"><i class="fa fa-newspaper-o fa-4x" style="color: #b1ca89" aria-hidden="true"></i></p>
					</div>
					
				</div>
				<!--end .content-->
			</div>
		</div>