<div class="right">
    <div class="col-md-10">
        <div class="content">
            <div class="col-md-4 add-dm">
                <h4 class="text-center">Chỉ định
                </h4>
            </div>
            <div class="clearfix"></div>
            <form method="post" action="/admin/manager/chi_dinh/{{btv.ID}}">
                <div class="form">
                    <table class="table">
                        <tr>
                            <td>
                                <P>Tên Biên Tập viên</p>
                            </td>
                            <td>
                            <input type="text" name="title" value="{{btv.HoTen}}" class="form-control" disabled> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Lựa chọn chuyên mục</p>
                            </td>
                            <td><select name="cat" class="form-control">
                                    {{#each cat}}
                                    <option value="{{IDChuyenMuc}}">{{TenChuyenMuc}}</option>
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 form-group pull-right">
                    <input type="submit" name="ok" value="Lưu" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <!--end .content-->
    </div>
</div>