  <div class="right">
            <div class="col-md-10">
                <div class="content">
                    <div class="col-md-4 add-dm">
                        <h4 class="text-center">Bài cần duyệt</h4>
                    </div>
                    <div class="clearfix"></div>
                    <form method="post">
                        <div class="form">
                            <table class="table">
                                <tr>
                                    <td>
                                        <P>Danh mục</p>
                                    </td>
                                    <td>
                                        <P>Tên bài viết</p>
                                    </td>
                                    <td>
                                        <P>Phóng viên</p>
                                    </td>
                                    <td>
                                        <p>Hành động</p>
                                    </td>
                                </tr>
                               {{#each dsbaiduyet}}
                                <tr>
                                    <td>
                                        <P>{{TenChuyenMuc}}</p>
                                    </td>
                                    <td>{{TieuDe}}</td>
                                    <td>{{HoTen}}</td>
                                     <td>
                                    <a href="/admin/editor/duyet/{{IDBaiViet}}">Duyệt bài viết</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </form>
                </div>
                <!--end .content-->
            </div>
        </div>