<div class="right">
    <div class="col-md-10">
        <div class="content">
            <div class="col-md-4 add-dm">
                <h4 class="text-center">Sửa danh mục</h4>
            </div>
            <div class="clearfix"></div>
            <form>
                <div class="form">
                    <table class="table">
                        <tr>
                            <td>
                                <P>Tiêu đề danh mục</p>
                            </td>
                            <td>
                            {{!-- <td>{{#if isDup}}<input type="text" name="title" class="form-control"><small>Đã bị trùng</small>{{else}} --}}
                            <input type="text" name="title" class="form-control" value="{{cat.TenChuyenMuc}}">
                            {{!-- {{/if}} --}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Lựa chọn danh mục cha</p>
                            </td>
                            <td><select name="cat" class="form-control">
                                    <option value="0">Là danh mục cha</option>
                                    {{#each cat}}
                                    <option value="{{IDChuyenMuc}}">{{TenChuyenMuc}}</option>
                                    {{/each}}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 form-group pull-right">
                    <input type="submit" name="ok" value="Lưu" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <!--end .content-->
    </div>
</div>