<div class="right">
    <div class="col-md-10">
        <div class="content">
            <div class="col-md-4 add-dm">
                <h4 class="text-center">Thêm danh mục</h4>
            </div>
            <div class="clearfix"></div>
            <form method="post">
                <div class="form">
                    <table class="table">
                        <tr>
                            <td>
                                <P>Tiêu đề danh mục</p>
                            </td>
                            <td><input type="text" name="title" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Lựa chọn danh mục cha</p>
                            </td>
                            <td><select name="cat" class="form-control">
                                    <option value="0">Là danh mục cha</option>
                                    <option value="">Đời sống</option>
                                    <option value="">Kinh doanh</option>
                                    <option value="">Văn hóa</option>
                                    <option value="">Giải trí</option>
                                    <option value="">Thể thao</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 form-group pull-right">
                    <input type="submit" name="ok" value="Lưu" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <!--end .content-->
    </div>
</div>