 <div class="right">
            <div class="col-md-10">
                <div class="content">
                    <div class="col-md-4 add-dm">
                        <h4 class="text-center">Xem biên tập viên</h4>
                    </div>
                    <div class="clearfix"></div>
                    <form method="post">
                        <div class="form">
                            <table class="table">
                                <tr>
                                    <td>
                                        <P>Tên đăng nhập</p>
                                    </td>
                                   
                                    <td>
                                        <P>Họ và tên</p>
                                    </td>
                                    <Td>Hành động</Td>
                                </tr>
                                   {{#each dsbientapvien}}
                                <tr>
                                    <td>
                                        <P>{{UserName}}</p>
                                    </td>
                        
                                    <td>{{HoTen}}</td>
                                    <td>
                                        <a href="#">Xóa</a></td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                        {{!-- <div class="col-md-3 form-group pull-right">
                            <input type="submit" name="ok" value="Lưu" class="btn btn-primary btn-block">
                        </div> --}}
                    </form>
                </div>
                <!--end .content-->
            </div>
        </div>