<div class="right">
    <div class="col-md-10">
        <div class="content">
            <div class="col-md-4 add-dm">
                <h4 class="text-center">Xem danh mục</h4>
            </div>
            <div class="clearfix"></div>
            <form method="post">
                <div class="form">
                    <table class="table">
                        <tr>
                            <td>
                                <P>Tên danh mục cha</p>
                            </td>
                            <td>
                                <P>Tên danh mục con</p>
                            </td>
                            <td>
                                <P>Hành động</p>
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">
                                <P>Đời sống</p>
                            </td>
                            <td>
                                <p>Xã hội</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Pháp luật</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>




                        <tr>
                            <td rowspan="2">
                                <P>Kinh doanh</p>
                            </td>
                            <td>
                                <p>Nông sản</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Hải sản</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>

                        <tr>
                            <td rowspan="2">
                                <P>Văn hóa</p>
                            </td>
                            <td>
                                <p>Du lịch</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Ẩm thực</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>

                        <tr>
                            <td rowspan="2">
                                <P>Giải trí</p>
                            </td>
                            <td>
                                <p>Âm nhạc</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Điện ảnh và truyền hình</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>


                        <tr>
                            <td rowspan="2">
                                <P>Thể thao</p>
                            </td>
                            <td>
                                <p>Bóng đá</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>Các mục khác</p>
                            </td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 form-group pull-right">
                    <input type="submit" name="ok" value="Lưu" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <!--end .content-->
    </div>
</div>