<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8 />
    <title>Administrator</title>
    <link rel=stylesheet href="/admin/css/bootstrap.min.css" />
    <script src="/admin/js/jquery-2.2.2.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/admin/css/normalize.css" />
    <link rel="stylesheet" href="/admin/css/style.css" />
</head>

<body>
    <div id="warper">
        <div id="top">
            <nav class="navbar navbar-default site-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <img src="/admin/img/logo.png">
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                     <form id="frmSignout" action="/admin/logout" method="POST"></form>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <p class="text-center" style="padding-top: 15px;">Xin chào <span
                                        style="color: red">Biên tập viên: </span> {{authUser.HoTen}}</p>
                            </li>
                            <li><a href="javascript: $('#frmSignout').submit();"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!--end #top-->
        <div class="col-md-2 left">
            <div class="left-menu">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/admin/editor"><i class="fa fa-tachometer" aria-hidden="true"></i>
                                    Trang chủ</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#baiviet"> <i class="fa fa-newspaper-o"
                                        aria-hidden="true"></i> Quản lý bài viết</a>
                            </h4>
                        </div>
                        <div id="baiviet" class="panel-collapse collapse">
                            <ul id="home" class="baiviet">

                                <li><a href="/admin/editor/duyet_bai_viet"><i class="fa fa-angle-right" aria-hidden="true"></i> Duyệt bài viết</a>
                                </li>
                                 <li><a href="/admin/editor/bai_viet_da_duyet"><i class="fa fa-angle-right" aria-hidden="true"></i> Bài viết đã duyệt</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--end .left-menu-->
            <div class="clearfix"></div>
        </div>
         {{{body}}}
	</div>
</body>
<html>