
 <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(../img/bg-img/40.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Đăng Nhập</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Xin chào!</h5>
                        </div>

                        <form action="/account/login" method="post">
                        {{#if err_message}}
                            <p class="text-danger">{{err_message}}</p>
                        {{/if}}
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="exampleInputEmail1" placeholder=" Tên người dùng">
                                
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"  name="password" placeholder="Mật khẩu">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Nhớ tài khoản</label>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: space-around">
                            <div>
                                <div><button type="submit"  class="btn mag-btn mt-30" ><a style="color:white">Đăng nhập</a></button></div>
                                <div style=" text-align: center;"><a href="/lay_mk" style="color:grey;">Quên mật khẩu ?</a></div>
                            </div>
                            <div><a href="/account/register"  class="btn mag-btn mt-30" style="color:white">Đăng Kí</a></div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>